# https://aka.ms/yaml

trigger:
- master

stages:
- stage: amd64
  displayName: amd64 (Intel/AMD64)
  dependsOn: [] 
  jobs:
  - template: .azure-pipelines-job.yml 
    parameters:
      arch: amd64
      username: $(DOCKER_USERNAME)
      password: $(DOCKER_PASSWORD)


- stage: arm32v7
  displayName: arm32v7 (Pi 2+ and other armhf)
  dependsOn: []
  jobs:
  - template: .azure-pipelines-job.yml
    parameters:
      arch: arm32v7
      username: $(DOCKER_USERNAME)
      password: $(DOCKER_PASSWORD)


- stage: arm64v8
  displayName: arm64v8 (Pi 3+ and other ARM64)
  dependsOn: []
  jobs:
  - template: .azure-pipelines-job.yml
    parameters:
      arch: arm64v8
      username: $(DOCKER_USERNAME)
      password: $(DOCKER_PASSWORD)

      
- stage: manifest
  displayName: multi-arch manifest
  dependsOn: 
    - amd64
    - arm32v7
    - arm64v8
  variables:
    - name: DOCKER
      value: docker --config=~/.docker
  jobs:
  - job: Manifest 
    pool:
      vmImage: 'ubuntu-latest'
    steps:
        - script: |
            make setup-manifest
            echo $(DOCKER_PASSWORD) | $(DOCKER) login --username $(DOCKER_USERNAME) --password-stdin
            make build-manifest
            make push-manifest
