  parameters:
    name: ''  # defaults for any parameters that aren't specified
    vmImage: 'ubuntu-latest'
    timeout: 60
 
  jobs:
  - job: ${{ parameters.name }}
    displayName: build ${{ parameters.name }}
    timeoutInMinutes: ${{ parameters.timeout }}
    pool:
        vmImage: ${{ parameters.vmImage }}
    variables:
      ARCH: ${{ parameters.arch }} 
      DOCKER: docker --config=~/.docker
    steps:
        - script: |
            make qemu
            make wrap-$(ARCH)
          displayName: setup ${{ parameters.name }}
        - script: |
            make build-$(ARCH)
          displayName: build ${{ parameters.name }}
        - script: |
            $(DOCKER) login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
            make push-$(ARCH)
          displayName: push ${{ parameters.name }}