  parameters:
    vmImage: 'ubuntu-latest'
    timeout: 60
 
  jobs:
  - job: ${{ parameters.arch }}
    displayName: build ${{ parameters.arch }}
    timeoutInMinutes: ${{ parameters.timeout }}
    pool:
      vmImage: ${{ parameters.vmImage }}
    variables:
      ARCH: ${{ parameters.arch }} 
      DOCKER: docker --config=~/.docker
    steps:
        - script: |
            make qemu
            make wrap-$(ARCH)
          displayName: setup ${{ parameters.arch }}
        - script: |
            make build-$(ARCH)
          displayName: build ${{ parameters.arch }}
        - script: |
            echo ${{ variables.DOCKER_PASSWORD }} | $(DOCKER) login --username ${{ variables.DOCKER_USERNAME }} --password-stdin
            make push-$(ARCH)
          displayName: push ${{ parameters.arch }}